@import '../../../assets/styles/variables';

.bookmark-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;

	&_theme {
		&_light {
			& .bookmark-container__new-group-button {
				color: themed('light', 'bookmarkGroupNewButtonColor');

				&:hover {
					background-color: themed('light', 'bookmarkGroupNewButtonBackgroundColor');
				}
			}
		}

		&_dark {
			& .bookmark-container__new-group-button {
				color: themed('dark', 'bookmarkGroupNewButtonColor');

				&:hover {
					background-color: themed('dark', 'bookmarkGroupNewButtonBackgroundColor');
				}
			}
		}
	}

	@include desktop-styling {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}

	&__new-group-button {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 10px;
		padding: 20px;

		cursor: pointer;
		font-size: 14px;
		border: 0;
		border-radius: 6px;
		background-color: transparent;
	}
}
