@import '../../../assets/styles/variables';

.file-import {
	display: inline-block;
	position: relative;

	&_theme {
		&_light {
			& .file-import__text {
				color: themed('light', 'fileImportTextColor');
			}

			&.file-import_drag-and-drop {
				background-color: themed('light', 'fileImportBackgroundColor');
				border-color: themed('light', 'fileImportBorderColor');
			}
		}

		&_dark {
			& .file-import__text {
				color: themed('dark', 'fileImportTextColor');
			}

			&.file-import_drag-and-drop {
				background-color: themed('dark', 'fileImportBackgroundColor');
				border-color: themed('dark', 'fileImportBorderColor');
			}
		}
	}

	&_drag-and-drop {
		padding: 30px 50px;
		border-radius: 6px;
		border: 3px dashed;

		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;

		.file-import__text {
			display: block;
			margin: 0;
		}
	}

	&__text {
		display: none;
	}
}
