@import '../../../assets/styles/variables.scss';

.bookmark-item {
	position: relative;
	width: 100%;
	height: 100%;

	&_theme {
		&_light {
			& .bookmark-item__link {
				color: themed('light', 'bookmarkItemColor');
				background-color: themed('light', 'bookmarkItemBackgroundColor');

				&:hover {
					border-color: themed('light', 'bookmarkItemHoverBorderColor');
				}
			}

			& .bookmark-item__favicon {
				&_text,
				&_icon {
					color: themed('light', 'bookmarkItemColor');
				}
			}

			& .bookmark-item__edit-button {
				color: themed('light', 'bookmarkItemColor');
			}
		}

		&_dark {
			& .bookmark-item__link {
				color: themed('dark', 'bookmarkItemColor');
				background-color: themed('dark', 'bookmarkItemBackgroundColor');

				&:hover {
					border-color: themed('dark', 'bookmarkItemHoverBorderColor');
				}
			}

			& .bookmark-item__favicon {
				&_text,
				&_icon {
					color: themed('dark', 'bookmarkItemColor');
				}
			}

			& .bookmark-item__edit-button {
				color: themed('dark', 'bookmarkItemColor');
			}
		}
	}

	&__link {
		display: flex;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		position: relative;
		container-type: size;

		padding: 6px;
		text-decoration: none;

		border-radius: 6px;
		border: 3px solid transparent;

		&:hover {
			border-radius: 0;
		}
	}

	&__text {
		width: 100%;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		margin-top: auto;
	}

	&__favicon {
		display: flex;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;

		&_image {
			margin: auto;
			min-width: 32%;
			min-height: 32%;
			max-width: 50%;
			max-height: 50%;

			object-fit: contain;
		}

		&_text {
			display: inline-block;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;

			position: absolute;
			left: 5%;
			right: 5%;
			top: 50%;
			bottom: auto;
			transform: translateY(-50%);

			font-size: 14cqw;
			font-weight: bold;
			text-align: center;
		}

		&_icon {
			min-width: 42%;
			min-height: 42%;
			max-width: 62%;
			max-height: 62%;
			margin: auto;
		}
	}

	&__edit-button {
		position: absolute;
		z-index: 1;
		padding: 5px;
		background: transparent;
		border: 0;
		cursor: ne-resize;
	}
}
