@use 'sass:map';
@import '../../Bookmark/Group/group.module.scss';

// The size of the smallest possible size of a bookmark.
// It also acts like a scale factor for other sizes of bookmarks
$smallest-bookmark-size: 50px;

// Calculates the size of a bookmark item of various scales
// concerning the bookmark group gap
// to avoid bugs related to sizings
@function get-bookmark-real-size($scale: 1) {
	@return ($smallest-bookmark-size * $scale) - $gap;
}

$item-sizes: (
	'small': (
		'horizontal-scale': 1,
		'vertical-scale': 1
	),
	'medium': (
		'horizontal-scale': 2,
		'vertical-scale': 2
	),
	'wide': (
		'horizontal-scale': 4,
		'vertical-scale': 2
	),
	'large': (
		'horizontal-scale': 4,
		'vertical-scale': 4
	)
);

.item {
	display: flex;
	align-items: end;
	box-sizing: border-box;

	padding: 5px;
	border: 1px solid #000000;
	border-radius: 4px;
	text-decoration: none;


	@each $size-name, $sizings in $item-sizes {
		&_#{$size-name} {
			width: get-bookmark-real-size(map-get($sizings, horizontal-scale));
			height: get-bookmark-real-size(map-get($sizings, vertical-scale));
		}
	}
}
