@import '../../../assets/styles/variables';

.icon-picker {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 10px;
	max-height: 350px;
	background-color: $icon-picker-background-color;
	border: 1px solid $icon-picker-border-color;
	border-radius: $icon-picker-border-radius;

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fill, Max(120px, 25%));
		justify-items: stretch;
		margin: 0;
		padding: 0;
		flex: 1;
		justify-content: center;
		list-style: none;
		overflow-y: auto;
	}

	&__list-item {
		margin-left: 0;
	}

	&__list-item-button {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		gap: 8px;
		font-size: 10pt;
		cursor: pointer;
		padding: 10px 5px;

		color: #fff;
		width: 100%;
		height: 100%;

		background-color: transparent;
		border: 3px solid transparent;
		border-radius: 6px;

		&:hover,
		:focus {
			border-color: $icon-picker-item-hover-border-color;
		}

		&_selected {
			background-color: $icon-picker-item-selected-background-color;
		}
	}

	&__icon {
		font-size: 20pt;
	}
}
