@import '../../../assets/styles/variables';

.icon-picker {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 10px;
	max-height: 350px;
	border: 1px solid;
	border-radius: 6px;

	&_theme {
		&_light {
			background-color: themed('light', 'iconPickerBackgroundColor');
			border-color: themed('light', 'iconPickerBorderColor');

			& .icon-picker__list-item-button {
				color: themed('light', 'iconPickerItemColor');

				&:hover,
				:focus {
					border-color: themed('light', 'iconPickerItemHoverBorderColor');
				}

				&_selected {
					background-color: themed('light', 'iconPickerItemSelectedBackgroundColor');
				}
			}
		}

		&_dark {
			background-color: themed('dark', 'iconPickerBackgroundColor');
			border-color: themed('dark', 'iconPickerBorderColor');

			& .icon-picker__list-item-button {
				color: themed('dark', 'iconPickerItemColor');

				&:hover,
				:focus {
					border-color: themed('dark', 'iconPickerItemHoverBorderColor');
				}

				&_selected {
					background-color: themed('dark', 'iconPickerItemSelectedBackgroundColor');
				}
			}
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fill, Max(120px, 25%));
		justify-items: stretch;
		margin: 0;
		padding: 0;
		flex: 1;
		justify-content: center;
		list-style: none;
		overflow-y: auto;
	}

	&__list-item {
		margin-left: 0;
	}

	&__list-item-button {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		gap: 8px;
		font-size: 14px;
		cursor: pointer;
		padding: 10px 5px;

		width: 100%;
		height: 100%;

		background-color: transparent;
		border: 3px solid transparent;
		border-radius: 6px;
	}

	&__icon {
		font-size: 26px;
	}
}
