@import '../../assets/styles/variables';

.page-content {
	padding: $page-content-vertical-padding $page-content-horizontal-padding;

	@include desktop-styling {
		padding-left: $sidebar-covered-width + $page-content-horizontal-padding;
		padding-right: $page-content-horizontal-padding;
	}
}
