@import '../../assets/styles/variables';

.sidebar {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all 0.25s ease;

	overflow: hidden;
	background-color: $sidebar-covered-background-color;

	@include desktop-styling {
		top: 0;
		width: $sidebar-covered-width;

		&:hover {
			width: $sidebar-uncovered-width;
			background-color: $sidebar-uncovered-background-color;

			.sidebar__item {
				justify-content: start;
			}

			.sidebar__item-label {
				display: inline-block;
			}
		}

		&__navigation {
			flex-direction: column;
			justify-content: end !important;
		}

		&__item {
			width: 100%;
		}
	}

	&__navigation {
		display: flex;
		justify-content: center;

		width: 100%;
		height: 100%;
	}

	&__item {
		display: flex;
		align-items: center;

		height: $sidebar-item-height;
		text-decoration: none;
		color: $sidebar-item-color;

		&:hover {
			background-color: $sidebar-item-hover-background-color;
		}

		&-icon {
			width: $sidebar-covered-width;
			min-width: $sidebar-covered-width;
			font-size: 15pt;
		}

		&-label {
			display: none;
			padding-right: 20px;
			text-wrap: nowrap;
		}
	}
}
