@import './react-grid-layout';
@import './react-transition-group';

@font-face {
	font-family: OpenSans;
	src: url(../fonts/OpenSans-VariableFont.ttf);
}

body {
	font-family: OpenSans, Tahoma, Geneva, Verdana, sans-serif;
}

.screenreader {
	position: absolute;
	left: -9999em;
}
