@import './utils';

@mixin desktop-styling {
	@media only screen and (min-width: $breakpoint-desktop) {
		@content;
	}
}

$themes: (
	light: (
		pageBackground: #e4e4e4,

		inputColor: #000,
		inputBackgroundColor: #f0f0f0,
		inputBorderColor: #ccc,

		bookmarkGroupHeaderColor: #333,
		bookmarkGroupHeaderStateEditBackgroundColor: #e6e6e6,
		bookmarkGroupHeaderControlButtonColor: #333,
		bookmarkGroupHeaderControlButtonHoverBackgroundColor: #efefef,

		bookmarkGroupNewButtonColor: #333,
		bookmarkGroupNewButtonBackgroundColor: #efefef,

		bookmarkItemColor: #333,
		bookmarkItemBackgroundColor: #efefef,
		bookmarkItemHoverBorderColor: #bbb,

		iconPickerBackgroundColor: #f9f9f9,
		iconPickerBorderColor: #bbb,
		iconPickerItemColor: #333,
		iconPickerItemHoverBorderColor: #bbb,
		iconPickerItemSelectedBorderColor: #bbb,
		iconPickerItemSelectedBackgroundColor: #e0e0e0,

		fileImportBackgroundColor: #f5f5f5,
		fileImportBorderColor: #bbb,
		fileImportTextColor: #333,

		modalContentBackgroundColor: #fff,
		modalContentColor: #333,
		modalFooterBackgroundColor: #f1f1f1,

		sidebarCoveredBackgroundColor: #e4e4e4,
		sidebarUncoveredBackgroundColor: #e9e9e9,
		sidebarItemColor: #333,
		sidebarItemHoverBackgroundColor: #f6f6f6
	),
	dark: (
		pageBackground: #1f1f1f,

		inputColor: #fff,
		inputBackgroundColor: #535353,
		inputBorderColor: #6b6b6b,

		bookmarkGroupHeaderColor: #fff,
		bookmarkGroupHeaderStateEditBackgroundColor: #666,
		bookmarkGroupHeaderControlButtonColor: #fff,
		bookmarkGroupHeaderControlButtonHoverBackgroundColor: #3c3c3c,

		bookmarkGroupNewButtonColor: #fff,
		bookmarkGroupNewButtonBackgroundColor: #3c3c3c,

		bookmarkItemColor: #fff,
		bookmarkItemBackgroundColor: #3c3c3c,
		bookmarkItemHoverBorderColor: #9d9d9d,

		iconPickerBackgroundColor: #3c3c3c,
		iconPickerBorderColor: #9d9d9d,
		iconPickerItemColor: #fff,
		iconPickerItemHoverBorderColor: #9d9d9d,
		iconPickerItemSelectedBorderColor: #9d9d9d,
		iconPickerItemSelectedBackgroundColor: #4b4b4b,

		fileImportBackgroundColor: #575757,
		fileImportBorderColor: #9d9d9d,
		fileImportTextColor: #fff,

		modalContentBackgroundColor: #202020,
		modalContentColor: #fff,
		modalFooterBackgroundColor: #2b2b2b,

		sidebarCoveredBackgroundColor: #1f1f1f,
		sidebarUncoveredBackgroundColor: #2c2c2c,
		sidebarItemColor: #fff,
		sidebarItemHoverBackgroundColor: #414141
	)
);

body {
	&.light {
		background-color: themed('light', 'pageBackground');

		select,
		input {
			color: themed('light', 'inputColor');
			background-color: themed('light', 'inputBackgroundColor');
			border-color: themed('light', 'inputBorderColor');
		}
	}

	&.dark {
		background-color: themed('dark', 'pageBackground');

		select,
		input {
			color: themed('dark', 'inputColor');
			background-color: themed('dark', 'inputBackgroundColor');
			border-color: themed('dark', 'inputBorderColor');
		}
	}
}

$sidebar-covered-width: 56px;
$sidebar-uncovered-width: 250px;
$sidebar-item-height: $sidebar-covered-width;

$breakpoint-desktop: 576px;
