@import '../../../../assets/styles/variables.scss';

.bookmark-group__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	box-sizing: border-box;

	h1 {
		font-weight: 400;
		font-size: 16px;
	}

	&_theme {
		&_light {
			h1 {
				color: themed('light', 'bookmarkGroupHeaderColor');
			}

			&.bookmark-group__header_state_edit {
				background: themed('light', 'bookmarkGroupHeaderStateEditBackgroundColor');
			}
		}

		&_dark {
			h1 {
				color: themed('dark', 'bookmarkGroupHeaderColor');
			}

			&.bookmark-group__header_state_edit {
				background: themed('dark', 'bookmarkGroupHeaderStateEditBackgroundColor');
			}
		}
	}

	&_state {
		&_edit {
			padding: 10px;

			input {
				width: 100%;
				box-sizing: border-box;

				font-size: 16px;
				padding: 4px;
			}
		}

		&_unnamed {
			h1 {
				width: 100%;
				opacity: 0;

				&:hover {
					opacity: 1;
				}
			}
		}
	}
}
