name: Build React application CI

on:
    push:
        branches:
            - master

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Use Node.JS
              uses: actions/setup-node@v4
              with:
                  node-version: 18
            - uses: actions/cache@v3
              with:
                  key: ${{runner.os}}-build-dependencies-${{hashFiles('**/package-lock.json')}}
                  path: |
                      ./node_modules
            - name: Install dependencies
              run: npm install
            - name: Run linter
              run: npm run lint
            - name: Build project
              run: BASE_URL=/${{github.event.repository.name}} npm run build
            - name: Archive artifacts
              uses: actions/upload-artifact@v4
              with:
                  name: dist
                  path: dist
    publish:
        needs: build
        if: github.ref == 'refs/heads/master'
        uses: ./.github/workflows/github-pages.yml
